{% assign experiences = site.data.data.experiences %}
{% if experiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    {{ experiences.title }}
  </h2>
  {% if experiences.summary %}
  <div class="summary">
    <p>{{ experiences.summary | markdownify }}</p>
  </div>
  {% endif %}
  {% for experience in experiences.experience-list %}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="item-title">{{ experience.role }}</h3>
        <div class="time">{{ experience.time }}</div>
      </div>
      <div class="lower-row">
        {% if experience.link %}
        <a href="{{ experience.link }}" target="_blank">{{ experience.company }}</a>
        {% else %}
          {{ experience.company }}
        {% endif %}
      </div>
    </div>
    {% if experience.details %}
    <div class="details">
      {{ experience.details | markdownify }}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</section>
{% endif %}
